


#bodyBackground {
    background-image: url(blur-book-stack-books.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bodyGradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b2b28+0,2b2b28+62,1c1c1c+100 */
    background: rgb(43,43,40); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(43,43,40,1) 0%, rgba(43,43,40,1) 62%, rgba(28,28,28,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(43,43,40,1) 0%,rgba(43,43,40,1) 62%,rgba(28,28,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(43,43,40,1) 0%,rgba(43,43,40,1) 62%,rgba(28,28,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b28', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */


}

html,body{
    height:100%;
    font-family: 'Montserrat', sans-serif;
    color: #C5C6C7;



}

/*
p {
	background-color: white;
	padding: 30px;
	border-color: white;
	border:50px;
	border-radius:  50px;


}
*/

td, tr {

    text-align: center;
}

table.booksTable {
    /*width: 100%;
    height: 200%;*/
    text-align: center;
}
table.booksTable td, table.booksTable th {
    padding: 10px 20px;
    border-style: dotted;
    border-width: 1px;


}
table.booksTable tr:nth-child(even) {
    background: #DDDDDD;
}
table.booksTable thead {
    background: #DDDDDD;
}
table.booksTable thead th {
    /*font-size: 15px;*/
    font-weight: bold;
    text-align: center;
}

.tableHeading {
    border-style: none;
}

.row, [class^="col"], .container, .box {
    width:100%;
    display:flex;
}

.container, .row{
    height:100%;
    justify-content:center;
}

.box, [class^="col"] {
    height: 100%;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}

.button {
    background-color: transparent;
    border-color: #FAED26;
    border-style: solid;
    border-width: 1px;
    padding: 12px 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 200px;


}

.button:hover {
    background-color: #FAED26;
    border-color: #FAED26;
    color: rgb(31,40,51);


}

.button-active {
    background-color: #FAED26;
    border-color: #FAED26;
    border-width: 1px;
    padding: 12px 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: rgb(31,40,51);
    width: 200px;
}




input, select, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #C5C6C7;
    background-color: transparent;
    color: #C5C6C7;

}



textarea:focus, input:focus {
    box-shadow: 0 0 5px #FAED26;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #FAED26;
    color: #C5C6C7;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}
